# API Gateway (Next.js rewrites 경유)
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000

# App
NEXT_PUBLIC_APP_ENV=development

# Google AdSense
NEXT_PUBLIC_ADSENSE_ENABLED=true
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-4088760185957474
